h1{
    color:skyblue;
    text-align:center;
}

body{
    background: pink;
    font-family:Baskerville;
}

div{
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}
#main{
    background-color:skyblue;
    margin:2%;
    padding:2%;
}

.image{
    float:left;
    padding = 20px;
    background-color: skyblue;
    width = 200px;
    margin: 0 0 2% 2%;
}

.image > p{
    padding = 0px;
    margin: 4px;
    color: yellow;
}